<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">{{document?.name}}</h4>
      <div class="row pull-right margin-left-right">
        <a 
          class="btn btn-primary" 
          style="margin-right: 5px;" 
          (click)="onView()">View Details
        </a>
        <a 
          [routerLink]="['edit']" 
          class="btn btn-info" 
          style="margin-right: 5px;">
          Edit
        </a>
        <a 
          class="btn btn-danger"
          (click)="onDelete()">
          Delete
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      
      <!-- Basic Information -->
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-6">
          <label><strong>Brand:</strong></label>
          <span class="label-value" style="margin-left: 10px;">
            {{ document?.brand || 'N/A' }}
          </span>
        </div>
        <div class="col-md-6">
          <label><strong>Price:</strong></label>
          <span class="label-value" style="margin-left: 10px; color: #28a745; font-weight: bold;">
            {{ document?.price ? '$' + document.price.toFixed(2) : 'N/A' }}
          </span>
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-6">
          <label><strong>Frame Type:</strong></label>
          <span class="label-value" style="margin-left: 10px;">
            {{ document?.frameType || 'N/A' }}
          </span>
        </div>
        <div class="col-md-6">
          <label><strong>Lens Color:</strong></label>
          <span class="label-value" style="margin-left: 10px;">
            {{ document?.lensColor || 'N/A' }}
          </span>
        </div>
      </div>

      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
          <label><strong>UV Protection:</strong></label>
          <span class="label-value" style="margin-left: 10px; color: #007bff;">
            {{ document?.uvProtection || 'N/A' }}
          </span>
        </div>
      </div>

      <!-- Description -->
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
          <label><strong>Description:</strong></label>
          <p class="label-value" style="margin-top: 5px; line-height: 1.5;">
            {{ document?.description || 'No description available' }}
          </p>
        </div>
      </div>

      <!-- Product URL -->
      <div class="row">
        <div class="col-md-12">
          <label><strong>Product URL:</strong></label>
          <div class="label-value" style="margin-top: 5px;">
            <a [href]="document?.url" target="_blank" style="color: #007bff; text-decoration: none;">
              {{ document?.url || 'No URL available' }}
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>